
.header{
    border: 1px solid red;
    min-height: 20vh;
    margin-top: 5vh;
    text-align: center;
    font-size: 32px;
}

.main{
    border: 1px solid blue;
    min-height: 50vh;

    & .label_text{
        text-align: center;
        font-size: 24px;
    }

    & .btn_continue{
        width: 80px;
    }

    & .alarm_text{
        font:bold;
        font-size: 150%;
        color: red;
    }

    & .email{
        color: green;
        font-size: 150%

    }
}

