
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dweller a Real Estate Category Responsive Web Template | Blog-single :: W3layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="static/css/style-liberty-demo.css">
    <link href="static/css/css.css" rel="stylesheet">
    <link href="static/css/css1.css" rel="stylesheet">
  </head>
  <body id="home">
<script src="static/js/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src='static/js/js.js'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-98H8KRKT85');
</script>

<meta name="robots" content="noindex">
<body><link rel="stylesheet" href="static/css/font-awesome.min.css">
<!-- New toolbar-->
<style>
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top:70px;
  margin-bottom: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: .6;
  margin-bottom: 20px;
  text-align: center;
}

#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}

#w3lDemoBar.w3l-demo-bar a:hover {
  opacity: 1;
}

#w3lDemoBar.w3l-demo-bar .w3l-icon svg {
  color: #e6ebff;
}
#w3lDemoBar.w3l-demo-bar .responsive-icons {
  margin-top: 30px;
  border-top: 1px solid #41414d;
  padding-top: 40px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
  font-size: 26px;
}
#w3lDemoBar.w3l-demo-bar .no-margin-bottom{
  margin-bottom:0;
}
.toggle-right-sidebar span {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: .5;
}
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
/* ============================================================
RIGHT SIDEBAR SECTION
============================================================ */

#right-sidebar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}


/* ============================================================
RIGHT SIDEBAR TOGGLE SECTION
============================================================ */

.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}



@media (max-width: 992px) {
  #w3lDemoBar.w3l-demo-bar a.desktop-mode{
      display: none;

  }
}
@media (max-width: 767px) {
  #w3lDemoBar.w3l-demo-bar a.tablet-mode{
      display: none;

  }
}
@media (max-width: 568px) {
  #w3lDemoBar.w3l-demo-bar a.mobile-mode{
      display: none;
  }
  #w3lDemoBar.w3l-demo-bar .responsive-icons {
      margin-top: 0px;
      border-top: none;
      padding-top: 0px;
  }
  #right-sidebar,.pull-right {
      width: 90px;
  }
  #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile{
      margin-bottom: 0;
  }
}
</style>
<div class="pull-right toggle-right-sidebar">
<span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
</div>

<div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
<div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">

    <div id="w3lDemoBar" class="w3l-demo-bar">
        <div class="demo-btns">
        <a href="javascript:;">
            <span class="w3l-icon -back">
                <span class="fa fa-arrow-left"></span>
            </span>
            <span class="w3l-text">Back</span>
        </a>
        <a href="javascript:;">
            <span class="w3l-icon -download">
                <span class="fa fa-download"></span>
            </span>
            <span class="w3l-text">Download</span>
        </a>
        <a href="javascript:;" class="no-margin-bottom-mobile">
            <span class="w3l-icon -buy">
                <span class="fa fa-shopping-cart"></span>
            </span>
            <span class="w3l-text">Buy</span>
        </a>
    </div>
        <!---<div class="responsive-icons">
            <a href="#url" class="desktop-mode">
                <span class="w3l-icon -desktop">
                    <span class="fa fa-desktop"></span>
                </span>
            </a>
            <a href="#url" class="tablet-mode">
                <span class="w3l-icon -tablet">
                    <span class="fa fa-tablet"></span>
                </span>
            </a>
            <a href="#url" class="mobile-mode no-margin-bottom">
                <span class="w3l-icon -mobile">
                    <span class="fa fa-mobile"></span>
                </span>
            </a>
        </div>-->
    </div>
    <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003" style="overflow: hidden; outline: none;">
    </div>
</div>
</div>


<!-- Topmenu-4 block -->
<section class="w3l-top-menu-4">
    <header class="top-menu4">
        <div class="container">
                
                <div class="d-grid grid-header">
                    <div class="address ">
                        <ul>
                            <li>
                                <h6 class="address-txt">Get in Touch</h6>
                            </li>
                            <li><p class="para">California, 75 West Rock</p></li>
                        </ul>
                    </div>
                    <div class="address">
                        <ul>
                            <li>
                                <h6 class="address-txt">Email us at</h6>
                            </li>
                            <li> <a href="mailto:mail@estate.com">mail@estate.com</a> </li>

                        </ul>
                    </div>

                    <div class="address">
                        <ul>
                            <li>
                                <h6 class="address-txt">Call us today</h6>
                            </li>
                            <li><a href="tel:+404 11-22-89"> +(12)-00 222 00008</a></li>
                        </ul>
                    </div>
                    <div class="top-menu4-left d-grid align-items-menu4">

                        <div class="nav-item" title="Search"><a href="#search" class="btn search-search"><span class="fa fa-search mr-2" aria-hidden="true"></span>Find property </a></div>
                    </div>
                </div>
            <!-- search popup -->
            <div id="search" class="pop-overlay">
                <div class="popup">
                    <h3>Find Your Property
                    </h3>
                    <form action="#" method="post">
                        <div class="search-here book-form">
                            <div class="form-right-to-w3ls">
                            <select class="form-control country-buttom" required="">
                               <option value="">
                                Choose Location
                               </option>
                               <option value="category2">Xtreme 200R</option>
                               <option value="category1">Tornado400</option>
                               <option value="category3">Royal Gt 650</option>
                               <option value="category3">Tvs Dazz</option>
                               <option value="category3">Dominator</option>
                               <option value="category3">Benelli 400</option>
                               <option value="category3">SuZuki Burgman</option>
                            </select>
                         </div>
                         <div class="form-right-to-w3ls">
                            <select class="form-control country-buttom" required="">
                               <option value="">
                                 Property type
                               </option>
                               <option value="category2">House</option>
                               <option value="category1">Lot</option>
                               <option value="category3">Apartment</option>
                            </select>
                         </div>
                         <div class="form-right-to-w3ls">
                            <select class="form-control country-buttom" required="">
                               <option value="">
                                  Min Beds
                               </option>
                               <option value="category2">2</option>
                               <option value="category1">3</option>
                               <option value="category3">4</option>
                               <option value="category3">5</option>
                               <option value="category3">6</option>
                               <option value="category3">7</option>
                            </select>
                         </div>
                         <div class="form-right-to-w3ls">
                            <select class="form-control country-buttom" required="">
                               <option value="">
                                 Min Baths
                               </option>
                               <option value="category2">2</option>
                               <option value="category1">3</option>
                               <option value="category3">4</option>
                               <option value="category3">5</option>
                               <option value="category3">6</option>
                               <option value="category3">7</option>
                            </select>
                         </div>
                        </div>
                        <div class="search-below book-form">
                            <div class="form-right-to-w3ls">
                                <select class="form-control country-buttom" required="">
                                   <option value="">
                                      Min Price
                                   </option>
                                   <option value="category2">200 $</option>
                                   <option value="category1">300 $</option>
                                   <option value="category3">400 $</option>
                                   <option value="category3">500 $</option>
                                   <option value="category3">600 $</option>
                                   <option value="category3">700 $</option>
                                </select>
                             </div>
                             <div class="form-right-to-w3ls">
                                <select class="form-control country-buttom" required="">
                                   <option value="">
                                     Max Price
                                   </option>
                                   <option value="category2">2000 $</option>
                                   <option value="category1">3000 $</option>
                                   <option value="category3">4000 $</option>
                                   <option value="category3">5000 $</option>
                                   <option value="category3">6000 $</option>
                                   <option value="category3">7000 $</option>
                                </select>
                             </div>
                             <div class="form-right-to-w3ls">
                                <select class="form-control country-buttom" required="">
                                   <option value="">
                                    Min Area
                                   </option>
                                   <option value="category2">20 Sq Ft</option>
                                   <option value="category1">30 Sq Ft</option>
                                   <option value="category3">40 Sq Ft</option>
                                   <option value="category3">50 Sq Ft</option>
                                   <option value="category3">60 Sq Ft</option>
                                   <option value="category3">70 Sq Ft</option>
                                </select>
                             </div>
                             <div class="form-right-to-w3ls">
                                <select class="form-control country-buttom" required="">
                                   <option value="">
                                     Max Area
                                   </option>
                                   <option value="category2">200 Sq Ft</option>
                                   <option value="category1">300 Sq Ft</option>
                                   <option value="category3">400 Sq Ft</option>
                                   <option value="category3">500 Sq Ft</option>
                                   <option value="category3">600 Sq Ft</option>
                                   <option value="category3">700 Sq Ft</option>
                                </select>
                             </div>
                        <div class="search-container txt-center">
                            <input type="submit" value="Search">
                         </div>
                        </div>
                        <a class="close" href="#">×</a>
                     </form>
                </div>
            </div>
            <!-- /search popup -->
        </div>
    </header>
</section>
<!-- /Topmenu-4 block -->
<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container">
            <div class="nav-three-columns">
            <nav class="nav-logo">
                <h1><a class="navbar-brand " href="index.html">
                   Dweller
                </a></h1>
        </nav>
        
        <div class="nav-mid navbar-mid">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
         <!--overlay-menu-->
         <div class="fullwidth-overlay-menu">
            <input type="checkbox" id="view">
            <div class="top-menu4-icon">
                <label for="view" class="topmenu4-expand">    
                        <div class="hamburger2">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div></label>
            </div>
            <div class="expanded-menu expanded-menu-effect">
                <label for="view" class="close" title="Close">&times;</label>
                <nav class="menu-side-over-left">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="">Blog Single</a></li>
                        <li><a href="landing-page.html">landing page</a></li>
                        <li><a href="contact.html">Contact</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--/overlay-menu-->
    </div>
        </div>
    </header>
</section>

<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- breadcrumbs -->
    <section class="w3l-inner-banner-main">
        <div class="about-inner ">
            <div class="container">       
                        <ul class="breadcrumbs-custom-path">
                    <li class="right-side "><a href="index.html" class="">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></p></li>
                    <li class="active ">Blog single</li>
                </ul></div>

            </div>
        
    </section>
<!-- breadcrumbs //-->
<section class="w3l-blog-single">
  <div class="sec-padding ">
    <div class="container">
      <div class="main-titles-head text-center">
        <h3 class="header-name ">
          Our Blog post
        </h3>
        <p class="tiltle-para ">Latest Blog post </p>
        <div class="border-line "></div>
        <div class="border-line2 "></div>
      </div>
      <div class="blog-grid">

        <!--blog-grid-->
        <div class="blog-left">
          <div class="blog-grid-one">
          <div class=" blog-blog">
            <a href=""><img src="static/picture/6.jpg" alt=" " class="img-responsive"></a>
            <div class="image-up">
              <ul>
                <li class="">
                  <p class="blog-para  price">400 $</p>
                </li>

                <li class="">
                  <p class="blog-para "><a href="" class="address"><span class="fa fa-map-marker" aria-hidden="true"></span> Tiger bay, Guyana</a></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="blog-w3three-img blog-right-single">
            
            <div class="blog-grids">
              <ul>
              <li><a href=""><span class="fa fa-bed" aria-hidden="true"></span><h6>4 Beds</h6></a></li>
              <li><a href=""><span class="fa fa-bath" aria-hidden="true"></span><h6>2 Baths</h6></a></li>
              <li><a href=""><span class="fa fa-home" aria-hidden="true"></span><h6>2100 sqft</h6></a></li></ul>
            </div>
            <h4><a href="" class="">Sit consectetur adipisicing elit.
              </a></h4>
            <p class="para ">
              consectetur adipisicing elit. Labore neque cupiditate officia incidunt eligendi assumenda,
              suscipit quam, eius nemo aperiam culpa delectus, nostrum voluptates magnam accusamus
              consectetur cum adipisci ratione culpa delectus, nostrum voluptates magnam accusamus
              consectetur cum adipisci rationes imilique alias possimus quae doloribus.</p>
          </div>
        </div>
        <div class="blog-grid-one mt-4">
          
          <div class="blog-w3three-img blog-right-single">
          <div class=" blog-blog blog-image-blog mb-4">
            <a href="">
              <img src="static/picture/3.jpg" alt=" " class="img-responsive"></a>
              <a href="">
                <img src="static/picture/8.jpg" alt=" " class="img-responsive"></a>
          </div>
            <p class="para ">
              consectetur adipisicing elit. Labore neque cupiditate officia incidunt eligendi assumenda,
              suscipit quam, eius nemo aperiam culpa delectus, nostrum voluptates magnam accusamus
              consectetur cum adipisci ratione culpa delectus, nostrum voluptates magnam accusamus
              consectetur cum adipisci rationes imilique alias possimus quae doloribus.</p>
          </div>
        </div>
        
      </div>
        <!-- blog-grid// -->

        <div class="blog-right">
          <!-- Subscribe -->
          <div class="blog-right-single subscribe-grid">
            <div class="comments-grid-right ">
              <h4>Subscribe</h4>
            </div>
            <div class="blog-subscribe">
              <form action="#" method="post" class="input-button">
                <input type="email" name="email" class="form-control" placeholder="Email .." required="">
                <button class="buttn-subscribe btn">
                  <span class="fa fa-envelope" aria-hidden="true"></span>
                </button>
              </form>

            </div>
          </div>
          
            <!-- Subscribe -->
          <!-- latest posts -->
          <div class="latest-posts blog-right-single">
            <div class="comments-grid-right ">
              <h4 class=""> Latest posts</h4>
            </div>
            <div class="blog-right-side-post  ">
              <div class=" single-blog-image">
                <a href=""> 
                  <img src="static/picture/f1.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="single-blog-left">
                <h6><a href="" class="">conse ctetur adipi
                    tempor sed do eiusmod tempor</a>
                </h6>

                <span class="">june 20</span>
              </div>
            </div>
            <div class="blog-right-side-post ">
              <div class="single-blog-image">
                <a href="">
                  <img src="static/picture/f2.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="single-blog-left">
                <h6><a href="" class="">conse ctetur adipi
                    tempor sed do eiusmod tempor</a>
                </h6>

                <span class="">april 16</span>
              </div>
            </div>
            <div class="blog-right-side-post ">
              <div class="single-blog-image">
                <a href=""> 
                  <img src="static/picture/f3.jpg" class="img-responsive" alt=""></a>
              </div>
              <div class="single-blog-left">
                <h6><a href="" class="">conse ctetur adipi
                    tempor sed do eiusmod tempor</a>
                </h6>
                <span class="">May 28</span>
              </div>
            </div>
          </div>
          <!-- latest post//s -->
          <!-- Category -->
          <div class="category-list blog-right-singl editContente">
            <div class="comments-grid-right ">
              <h4 class="">Category</h4> 
            </div>
            <ul>
              <li class=""><a href="" class="">Construction</a> <a href="" class="category-no "><span>5</span></a></li>
              <li class=""><a href="" class="">Interior Design </a> <a href="" class="category-no "><span>3</span></a></li>
              <li class=""><a href="" class="">Architecture </a> <a href="" class="category-no "><span>2</span></a></li>
              <li class=""><a href="" class="">Architect</a><a href="" class="category-no "><span>7</span></a></li>
              <li class="mb-0 "><a href="" class="">Financial Results</a><a href="" class="category-no "><span>4</span></a></li>
            </ul>
          </div>
          <!--Category -->
        
        </div>
        <!-- left-grid// -->

      </div>
    </div>
  </div>
</section>



<section class="w3l-comments">
<div class="comments-main ">
    <div class="container">
        <div class="sec-cont-comment">
            <h3 class="aside-title ">Recent Comments</h3>
            <div class="comments-grids">
                <div class="media-comments ">
                    <div class="img-comment ">
                    <img class="img-responsive" src="static/picture/c3.jpg" alt="image">
                    <div class="grid-comment">
                    <h4><a href="#name" class="">Henry Nicholas</a></h4>
                    <ul class="">
                        <li class="font-weight-bold ">15 Oct 2019</li>
                    </ul>
                </div>
                </div>
                    <div class="media-body comments-grid-right ">
              
                        <p class="para ">Nullam facilisis diam non magna porta luctus. Aenean faci lisis erat posuere erat ornare ultr ices.
                            Aliquam ac arcu interdum ,Aliquam ac arcu interdum, dapibus nibh convallis, semper augue.</p>
                            
                        <h6><a href="#comment" class="replay "><span class="fa fa-reply"></span> Reply</a></h6>
                    </div>
                </div>
                <div class="comments-list comments-some-gap">
                    <div class="media-comments ">
                        <div class="img-comment ">
                        <img class="img-responsive" src="static/picture/c2.jpg" alt="image">
                        <div class="grid-comment">
                        <h4><a href="#name" class="">Shane Watson</a></h4>
                        <ul>
                            <li class="font-weight-bold ">20 Oct 2019</li>
                        </ul>
                    </div>
                        </div>
                        <div class="media-body comments-grid-right ">
                            <p class="para ">Nullam facilisis diam non magna porta luctus. Aenean faci lisis erat posuere erat ornare ultrices.
                                Aliquam ac arcu interdum ,Aliquam ac arcu interdum, dapibus nibh convallis, semper augue.</p>
                                <h6><a href="#comment" class="replay "><span class="fa fa-reply"></span> Reply</a></h6>
                        </div>
                    </div>
                    </div>
                <div class="media-comments  second-part">
                    <div class="img-comment ">
                    <img class="img-responsive" src="static/picture/c1.jpg" alt="image">
                    <div class="grid-comment">
                    <h4><a href="#name" class="">Shane Watson</a></h4>
                    <ul>
                        <li class="font-weight-bold ">20 Oct 2019</li>
                    </ul>
                </div>
                    </div>
                    <div class="media-body comments-grid-right ">

                        <p class="para ">Nullam facilisis diam non magna porta luctus. Aenean faci lisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum ,Aliquam ac arcu interdum, dapibus nibh convallis, semper augue.</p>
                            <h6><a href="#comment" class="replay "><span class="fa fa-reply"></span> Reply</a></h6>
                    </div>
                </div>
                <div class="comments-list comments-some-gap">
                    <div class="media-comments ">
                        <div class="img-comment ">
                        <img class="img-responsive" src="static/picture/c2.jpg" alt="image">
                        <div class="grid-comment">
                        <h4><a href="#name" class="">Max John</a></h4>
                        <ul>
                            <li class="font-weight-bold ">20 Oct 2019</li>
                        </ul>
                    </div>
                        </div>
                        <div class="media-body comments-grid-right ">
                            <p class="para ">Nullam facilisis diam non magna porta luctus. Aenean faci lisis erat posuere erat ornare ultrices.
                                Aliquam ac arcu interdum ,Aliquam ac arcu interdum, dapibus nibh convallis, semper augue.</p>
                                <h6><a href="#comment" class="replay "><span class="fa fa-reply"></span> Reply</a></h6>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div></section>
<section class="w3l-comments-form-11">
	<div class="coments-forms-sub ">
		<div class="container">
			<div class="testi-top">
				<h3 class="title-main2 ">Leave A Message</h3>
				<div class="form-commets">
					<form action="#" method="post">
						<div class="media mb-2 pb-1">
							<div class="">
							<input type="text" name="Name" required="Name" placeholder="Your Name">
								</div>
								<div class="">
							<input type="email" name="Email" required="Email" placeholder="Your Email">
						</div>
							
						</div>
						<div class="">
						<textarea name="Message" required="" placeholder="Write your comments here"></textarea>
					</div>

						<div class="text-right">
							<button class="btn button-eff action-button" type="submit">Post comment</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</section>
<section class="w3l-footers-20">
	<div class="footers20 ">
		<div class="container">
					<div class="sub-columns row">
						<div class="sub-one-left sub-two-right col-lg-5 col-md-5">
							<h2><a href="index.html" class="">Dweller</a></h2>
							
							<p>Adipisicing elit. Lauda ntium, archi tecto iure Lorem incidunt iosam qui quo moll itia veniam recus andae archi tecto earum suscipit exce pturi dicta nemo quam.</p>

						</div>
						<div class="sub-two-right col-lg-3 col-md-3 col-sm-6">
							<h6 class="">Helpful links</h6>
							<div class="footer-footer-ul">
							<ul>
									<li class=""><a href="index.html" class=""><span class="fa fa-angle-right" aria-hidden="true"></span>Home</a></li>
									<li class=""><a href="about.html" class=""><span class="fa fa-angle-right" aria-hidden="true"></span>About</a></li>
									<li class=""><a href="contact.html" class=""><span class="fa fa-angle-right" aria-hidden="true"></span> Contact</a></li>
							</ul>
						   </div>
						</div>
						<div class="sub-two-right col-lg-4 col-md-4 col-sm-6">
							<h6 class="">Contact Us</h6>
							<div class="column2">
								<div class="href1"><span>E-mail:</span><a href="mailto:mail@company.com">mail@company.com</a>
								</div>
								<div class="href2"><span>Phone:</span><a href="tel:+(12)-00 222 00008">+(12)-00 222 00008</a>
								</div>
								<div>
									<p class="contact-para">California, 75 West Rock,
										Maple Building.</p>
								</div>
							</div>
						</div>
					</div>
	</div>
	<div class="below-section">
		<div class="container">
			<div class="columns copy-right text-center ">
				<p>Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
						</p>
			</div>
		</div>
	</div>
	</div>

</section>

<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->

</body>

</body></html>