{% extends "forget_password.html" %}


{% block main %}
{% if user == False %}

<div class="row justify-content-center">
    <div class="col-4 label_text">
        <form action="{% url 'forget_password' %}" method="post">
            {% csrf_token %}
            <label for="account" class="form-label">請輸入您的帳號</label>
            <input type="text" class="form-control account" placeholder="您曾經註冊過的帳號" name="user"> </div>    
    </div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-4 text-center">
        <button class="btn btn-primary btn_continue" type="submit"> 繼續 </button>
    </div>
</div>
        </form>  <!--form end-->

<div class="mt-3 row justify-content-center">
    <div class="col text-center alarm_text">
        <p>查無資料，請檢查是否輸入錯誤 或 您的帳號沒有註冊過</p>  <!-- 新增訊息-->
    </div>
</div>


{% elif user.0 == True %}

<div class="row justify-content-center">
    <div class="col text-center">
        <span class="email"> 
            <p>親愛的 {{user.1}} 用戶</p>
            <p>歡迎回來，</p>
            <p>為了確認您是否為本人更改密碼，</p>
            <p>我們已經發送郵件，</p>
            <p>請到您的email 確認。</p>
        </span>
        
        <form action="{% url 'forget_email' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">再寄一次</button>
        </form>
    </div>
</div>

{% else %}
    
    <div class="row justify-content-center">
        <div class="col-4 label_text">
            <form action="{% url 'forget_password' %}" method="post">
                {% csrf_token %}
                <label for="account" class="form-label">請輸入您的帳號</label>
                <input type="text" class="form-control account" placeholder="您曾經註冊過的帳號" name="user"> </div>    
        </div>
    </div>
    
    <div class="row mt-3 justify-content-center">
        <div class="col-4 text-center">
            <button class="btn btn-primary btn_continue" type="submit"> 繼續 </button>
        </div>
    </div>
            </form>  <!--form end-->
{% endif %}


{% endblock main %}

