
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密碼驗證信</title>

</head>
<body style="background-color: #00DDDD;">
     <main class="main">
        <div class="row">
            <div class="col" style="text-align:center;font-size:24px">
                <p>親愛的{{user}}您好，如果您收到這封信，</p>
                <p>代表您已經成功找回帳號</p>
                <p>按下確認按鈕，就可以回到畫面修改密碼囉!</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:center;">
                
                <a style="color:green;font-size:24px" href="https://30da-218-161-97-197.ngrok-free.app/web_app/login/forget_password/{{rand}}/">請按我</a> 
                
            </div>
        </div>
     </main>
</body>
</html>
