<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘記密碼</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forget_password.css' %}">
</head>
<body>
    <header class="header container">
        <div class="row">
            <div class="col ">
                親愛的會員您好，請遵循以下方式，重設您的密碼
            </div>
        </div>
    </header>

    <main class="main container">

        {% block main %}{% endblock main %}
        
    </main>
</body>
</html>